<!DOCTYPE html>
<html>
  <head>
    <title>Ray-Ban Snake Analytics</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" property="og:title">
    <meta content="" property="og:url">
    <meta content="" property="og:description">
    <meta content="image.jpg" property="og:image">
    <meta content="" property="og:site_name">
    <meta content="summary" name="twitter:card">
    <meta content="" name="twitter:site">
  </head>
 
<section id="auth-button"></section> <body>
    <div id='app'></div>
  </body>
</html>
