* {
  box-sizing: inherit;
}

html {
  font-size: 20px;
  background-color: #2f0c0a;
  box-sizing: border-box;
  font-family: 'RayBanSans', san-serif;
  color: white;
}

@media (max-width: 850px) {
  html {
    font-size: 14px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  line-height: 1.6;
}

b {
  font-size: 1.2em;
}

#app {
  height: 100%;
}

@font-face {
  font-family: "RayBanSans";
  font-weight: 700;
  src: url("/fonts/Ray-BanSans-Bold.woff2") format("woff2"),
       url("/fonts/Ray-BanSans-Bold.woff") format("woff"),
       url("/fonts/Ray-BanSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "RayBanSans";
  font-weight: 400;
  src: url("/fonts/Ray-BanSans-Regular.woff2") format("woff2"),
       url("/fonts/Ray-BanSans-Regular.woff") format("woff"),
       url("/fonts/Ray-BanSans-Regular.ttf") format("ttf");
}


@font-face {
  font-family: "RayBanSans";
  font-weight: 200;
  src: url("/fonts/Ray-BanSans-Light.woff2") format("woff2"),
       url("/fonts/Ray-BanSans-Light.woff") format("woff"),
       url("/fonts/Ray-BanSans-Light.ttf") format("ttf");
}

@font-face {
  font-family: "RayBanSansInline";
  font-weight: 700;
  src: url("/fonts/Ray-BanSansInline-Bold100.woff2") format("woff2"),
       url("/fonts/Ray-BanSansInline-Bold100.woff") format("woff"),
       url("/fonts/Ray-BanSansInline-Bold100.ttf") format("ttf");
}

.enter {
  opacity: 0;
}
.enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
.exit {
  position: absolute;
  opacity: 1;
}
.exit-active {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms ease-out;
}
