<!DOCTYPE html>
<html>
  <head>
    <link rel="preload" as="font" crossorigin="anonymous" href="/fonts/Ray-BanSans-Bold.woff2">
    <link rel="preload" as="font" crossorigin="anonymous" href="/fonts/Ray-BanSansInline-Bold100.woff2">
    <link rel="preload" as="image" href="/logo.png">
    <link href='favicon.png' rel='icon'>
    <title>Ray-Ban Snake</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='' name='description'>
    <meta content='' property='og:title'>
    <meta content='' property='og:url'>
    <meta content='' property='og:description'>
    <meta content='image.jpg' property='og:image'>
    <meta content='' property='og:site_name'>
    <meta content='summary' name='twitter:card'>
    <meta content='' name='twitter:site'>
  </head>
  <body>
    <div id='app'></div>
  </body>
</html>
