<!DOCTYPE html>
<html>
  <head>
    <link rel="preload" as="font" crossorigin="anonymous" href="/fonts/Ray-BanSans-Bold.woff2">
    <link rel="preload" as="font" crossorigin="anonymous" href="/fonts/Ray-BanSans-Regular.woff2">
    <link rel="preload" as="font" crossorigin="anonymous" href="/fonts/Ray-BanSansInline-Bold100.woff2">
    <link rel="preload" as="image" href="/border.svg">
    <link rel="preload" as="image" href="/logo_and_icon_series.svg">
    <link href="favicon.png" rel="icon">
    <title>The Icon Series</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" property="og:title">
    <meta content="" property="og:url">
    <meta content="" property="og:description">
    <meta content="image.jpg" property="og:image">
    <meta content="" property="og:site_name">
    <meta content="summary" name="twitter:card">
    <meta content="" name="twitter:site">
    <script async src="https://www.googletagmanager.com/gtag/js"></script>
  </head>
  <body>
    <div id='app'></div>
  </body>
</html>
